body {
    background-image: url("../images/1000_F_292203735_CSsyqyS6A4Z9Czd4Msf7qZEhoxjpzZl1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

div.shaverma-info {
    background-image: url("../images/shaverma-info.jpg");
    margin-left: 20%;
    margin-right: 20%;
    border-style: solid;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    color: white;
}

div.image-container {
    text-align: center;
}

div.title {
    text-align: center;
    color: white;

}

img.Shaverma-img {
    width: 500px
}
